/* Resetting default styles for the body element */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Styling for the header element */
header {
  background-color: #000000;
  color: white;
  background-image: url(images/banner.jpg);
  background-size: cover;
  height: 30vh;
}

/* Styling for the navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: #000000;
}

/* Styling for navigation links */
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

/* Styling for a specific span inside navigation links */
nav a span {
  color: gold;
}

/* Styling for unordered list inside navigation */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Styling for list items inside navigation */
nav li {
  display: inline;
  margin-right: 20px;
}

/* Styling for links inside list items */
nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

/* Styling for links on hover */
nav li a:hover {
  color: gold;
}

/* Styling for header h1 element */
header h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 80px;
}

/* Styling for a specific span inside header h1 */
header h1 span {
  color: gold;
}

/* Styling for the main content section */
main {
  padding: 20px 100px;
  align-items: center;
  height: 60vh;
}

/* Styling for the recipe list */
.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Styling for the "Add Recipe" title */
.title {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
}

/* Styling for the "Add Recipe" form */
.add-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

/* Styling for labels in the form */
.add-form label {
  font-size: 18px;
  font-weight: 600;
}

/* Styling for form inputs */
.add-form input {
  padding: 20px;
  font-size: 18px;
}

/* Styling for form textarea */
.add-form textarea {
  padding: 20px;
  font-size: 18px;
}

/* Styling for form buttons */
.add-form button {
  padding: 20px;
  font-size: 18px;
  background: #000000;
  color: #fff;
  border: 1 solid #000000;
}

/* Styling for form button hover effect */
.add-form button:hover {
  background-color: #fff;
  color: #000000;
  transition-delay: 200ms;
  transition: 500ms;
}

/* Styling for recipe container */
.recipe-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  padding-bottom: 80px;
}

/* Styling for individual recipes */
.recipe {
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: #eeeeee;
}

/* Styling for recipe hover effect */
.recipe:hover {
  background-color: gold;
  transition-duration: 500ms;
  animation-duration: 500ms;
}

/* Styling for recipe h3 element */
.recipe h3 {
  font-size: 24px;
}

/* Styling for recipe buttons */
.recipe button {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  border: 1px solid #000000;
  color: #fff;
}

/* Styling for recipe button hover effect */
.recipe button:hover {
  background-color: #fff;
  border: 1px solid #000000;
  color: #000000;
  transition: 500ms;
}

/* Styling for recipe images */
.recipe img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Additional styling for the body */
body {
  background-color: #f4f4f4;
}

/* Styling for the footer */
footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Styling for the footer span */
footer span{
  color: gold;
}